.jpeg
.Rproj.user
.Rhistory
.RData
.Ruserdata
MS
output
output_region
vert.txt
comp_to_solve.csv
R/abundance
R/old codes
data/environment
data/modeling_data.RData
data/traits/Coral_traits_SINBIOSIS.xlsx
data/traits/Sheet_functional_traits_CORAL_TRAITS_original_JBleuel.xlsx
data/traits/Sheet_functional_traits_CORAL_TRAITS.xlsx
data/traits/brazilian-reef-fish-table-04-mar-18-website.xlsx
data/detection/Metadata_compiled_quadrats_allsites_AAued_et_al_2018.docx
data/detection/Metadata_UpdatedData_RMorais_et_al_2017.docx
data/detection/Updated_compiled_quadrats_allsites.xlsx
data/detection/UpdatedData_RMorais_et_al_2017.csv
data/detection/UpdatedData_RMorais_et_al_2017.xlsx



