.jpeg
.Rproj.user
.Rhistory
.RData
.Ruserdata
MS
output
output_region
*.txt
*.csv
R/abundance
R/old codes
data/environment
data/traits/Coral_traits_SINBIOSIS.xlsx
data/traits/Sheet_functional_traits_CORAL_TRAITS_original_JBleuel.xlsx
data/traits/Sheet_functional_traits_CORAL_TRAITS.xlsx
data/traits/brazilian-reef-fish-table-04-mar-18-website.xlsx
data/detection/*.xlsx
data/detection/*.csv
data/detection/*.docx
data/*.RData

